<h1>Wage calculations</h1>



<% @employees.each do |employee| %>
<div class="employee-wage-details">
	<h2><%= employee.firstname %> <%= employee.lastname %>

	<h3>Provision based salary</h3>
	
	<ul>
	<% employee.sales.each do |sale| %>
		<li><%= sale.employment.project.title %>: <%= sale.title %> –– Amount: <%= sale.sum %>&euro;, Provision percentage: <%= sale.employment.provision*100.0 %>&#037;, Provision earned: <u><%= sale.sum*sale.employment.provision %>&euro;</u></li>
		<% end %>
	</ul>

		<h3>Time based salary</h3>
			<ul>
		<% employee.shifts.each do |shift| %>
			
			<li>Shift id: <%= shift.id%>, Project: <%= shift.employment.project.title %>, Date: <%= shift.start_date%>, Duration: <%= shift.duration%>, Hourly wage: <%= shift.employment.hourly_wage%>&euro;/h, Comes on top of minimum wage: <b><%= shift.employment.comes_on_top %></b>, Earned: <u><%= shift.duration*shift.employment.hourly_wage%>&euro;</u>.</li>
				
		<% end %>
	</ul>
	<h4>Total salary: <%= employee.total_salary %>&euro;</h4>
	
</div>
<% end %>
