<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :minimum_wage %><br />
    <%= f.text_field :minimum_wage %>
  </div>
  <div class="field">
    <%= f.label :employment_start %><br />
    <%= f.date_select :employment_start %>
  </div>
  <div class="field">
    <%= f.label :current_employee %><br />
    <%= f.check_box :current_employee %>
  </div>
  <div class="field">
    <%= f.label :employment_end %><br />
    <%= f.date_select :employment_end %>
  </div>
  <div class="field">
    <%= f.label :default_provision %><br />
    <%= f.text_field :default_provision %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
