<h1>Listing employees</h1>

<table>
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Minimum wage</th>
    <th>Employment start</th>
    <th>Employment end</th>
	<th>Current?</th>
    <th>Default provision</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @employees.each do |employee| %>
  <tr class="<%= cycle("even", "odd", :name => "employees") -%>">
    <td><%= employee.firstname %></td>
    <td><%= employee.lastname %></td>
    <td><%= employee.minimum_wage %></td>
    <td><%= employee.employment_start %></td>
    <td><%= employee.employment_end %></td>
	<td><%= employee.current_employee? %></td>
    <td><%= employee.default_provision %></td>
    <td><%= link_to 'Show', employee %></td>
    <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
    <td><%= link_to 'Destroy', employee, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
<% reset_cycle("employees") %>
</table>

<br />

<%= link_to 'New Employee', new_employee_path %>
