<h1>To be invoiced</h1>

<table>
	<tr>
		<th>Confirmation date</th>
		<th>Customer name</th>
		<th>Invoice title</th>
		<th>Sum</th>
		
	</tr>
<% @invoices.each do |invoice| %>
<tr>
	<td><%= invoice.confirmation_date %></td>
	<td><%= invoice.customer.name %></td>
	<td><%= invoice.title %></td>
	<td><%= number_to_currency(invoice.sum, :locale => :fi) %></td>
</tr>	
<% end %>
</table>

<p><u><b>Total invoicable:</b> <%= number_to_currency(@total, :locale => :fi)  %></u></p>