<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :company_code %><br />
    <%= f.text_field :company_code %>
  </div>
  <div class="field">
    Company name<br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :contact_person_name %><br />
    <%= f.text_field :contact_person_name %>
  </div>
  <div class="field">
    <%= f.label :contact_person_email %><br />
    <%= f.text_field :contact_person_email %>
  </div>
  <div class="field">
    <%= f.label :contact_person_phone %><br />
    <%= f.text_field :contact_person_phone %>
  </div>
  <div class="field">
    <%= f.label :billing_address %><br />
    <%= f.text_area :billing_address %>
  </div>
  <div class="field">
    <%= f.label :billing_details %><br />
    <%= f.text_area :billing_details %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
