<h1>Listing customers</h1>

<table>
  <tr>
	<th>Company code</th>
    <th>Name</th>
    <th>Contact person name</th>
    <th>Contact person email</th>
    <th>Contact person phone</th>
    <th>Billing address</th>
    <th>Billing details</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

	<% @customers.each do |customer| %>
	  <tr class="<%= cycle("even", "odd", :name => "customers") -%>">
		<td><%= customer.company_code %></td>    
		<td><%= customer.name %></td>
	    <td><%= customer.contact_person_name %></td>
	    <td><%= customer.contact_person_email %></td>
	    <td><%= customer.contact_person_phone %></td>
	    <td><%= customer.billing_address %></td>
	    <td><%= truncate(customer.billing_details, :length => 25, :omission => '...') %></td>
	    <td><%= link_to 'Show', customer %></td>
	    <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
	    <td><%= link_to 'Destroy', customer, :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
	<% end %>
	<% reset_cycle("customers") %>
</table>

<br />

<%= link_to 'New Customer', new_customer_path %>
