<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @project.title %>
</p>

<p>
  <b>Project start:</b>
  <%= @project.project_start %>
</p>

<p>
  <b>Project end:</b>
  <%= @project.project_end %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
