<h1>Create new batch payment</h1>

<%= form_for(@payment) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :payment_date %><br />
    <%= f.date_select :payment_date %>
  </div>
  <div class="field">
    <%= f.label :sum %><br />
    <%= f.text_field :sum %>
  </div>
  <div class="field">
	Employee <br />
    <%= collection_select(:payment, :employee_id, Employee.all, :id, :print_name) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
