<h1>Listing sales</h1>

<table>
  <tr>
	<th>Employment</th>
	<th>Seller</th>
	<th>Customer</th>
    <th>Title</th>
		
    <th>Sum</th>
<th>Provision</th>
    <th>Billing request sent</th>
<th>Billed</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sales.each do |sale| %>
<% if sale.employment != nil && sale.customer != nil %>
  <tr>
	<td><%= sale.employment.project.title %>, <%= sale.employment.employee.firstname %> <%= sale.employment.employee.lastname %></td>
<td><%= sale.customer.name %> – <%= sale.customer.contact_person_name %></td>    
<% end %>
<td><%= sale.title %></td>
		
    
    <td><%= sale.sum %></td>
<% if sale.employment != nil %>
		<td><%= sale.employment.provision*sale.sum %></td>
<% end %>
		<td><%= sale.billing_request_sent? %></td>
		<td><%= sale.billed? %></td>
    <td><%= link_to 'Show', sale %></td>
    <td><%= link_to 'Edit', edit_sale_path(sale) %></td>
    <td><%= link_to 'Destroy', sale, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sale', new_sale_path %>
