<h1>Listing sales</h1>

<table>
  <tr>
    <th>Title</th>
		<th>Customer</th>
    <th>Employment</th>
    <th>Employee</th>
    <th>Sum</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sales.each do |sale| %>
  <tr>
    <td><%= sale.title %></td>
		<td><%= sale.customer %></td>
    <td><%= sale.employment.project.title %></td>
    <td><%= sale.employee.firstname %> <%= sale.employee.lastname %></td>
    <td><%= sale.sum %></td>
    <td><%= sale.description %></td>
    <td><%= link_to 'Show', sale %></td>
    <td><%= link_to 'Edit', edit_sale_path(sale) %></td>
    <td><%= link_to 'Destroy', sale, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sale', new_sale_path %>
