<h1>Listing sales</h1>

<%= link_to 'Add New Sale', new_sale_path %>

<table>
	<tr>
		<th><%= sortable "confirmation_date" %></th>
		<th><%= sortable "employment_project_title" %></th>
		<th><%= sortable "customer_name" %></th>
		<th><%= sortable "title" %></th>	
		<th><%= sortable "sum" %></th>
		<th><%= sortable "billing_request_sent" %></th>
		<th><%= sortable "billed" %></th>
		<th></th>
		<th></th>
		<th></th>
	</tr>

	<% @sales.each do |sale| %>
		<tr class="<%= cycle("even", "odd", :name => "sales") -%>">
			<td><%= sale.confirmation_date %></td>
				<% if sale.employment != nil && sale.customer != nil %>
					<td><%= sale.employment.project.title %>, <%= sale.employment.employee.firstname %> <%= sale.employment.employee.lastname %></td>
					<td><%= sale.customer.name %> – <%= sale.customer.contact_person_name %></td>    
				<% end %>
		
			<td><%= sale.title %></td>
		    <td><%= sale.sum %></td>
			<td><%= sale.billing_request_sent? %></td>
			<td><%= sale.billed? %></td>
		    <td><%= link_to 'Show', sale %></td>
		    <td><%= link_to 'Edit', edit_sale_path(sale) %></td>
		    <td><%= link_to 'Destroy', sale, :confirm => 'Are you sure?', :method => :delete %></td>
		  </tr>
	<% end %>
	<% reset_cycle("sales") %>
</table>

<br />

<%= link_to 'Add New Sale', new_sale_path %>
