

<p>
  <b>Title:</b>
  <%= @sale.title %>
</p>

<p>
  <b>Employment:</b>
  <%= @sale.employment.project.title %>
</p>

<p>
  <b>Sum:</b>
  <%= @sale.sum %>
</p>

<p>
  <b>Description:</b>
  <%= @sale.description %>
</p>

<p>
  <b>Provision:</b>
  <%= @sale.employment.provision*@sale.sum %>
</p>

<p>
  <b>Order confirmation:</b>
  <%= @sale.order_confirmation %>
</p>

<p>
  <b>Billing request sent:</b>
  <%= @sale.billing_request_sent? %>
</p>

<p>
  <b>Billed:</b>
  <%= @sale.billed? %>
</p>



<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>