

<p>
  <b>Title:</b>
  <%= @sale.title %>
</p>

<p>
  <b>Employment:</b>
  <%= @sale.employment.project.title %>
</p>

<p>
  <b>Sum:</b>
  <%= @sale.sum %>
</p>

<p>
  <b>Description:</b>
  <%= @sale.description %>
</p>

<p>
  <b>Provision:</b>
  <%= @sale.employment.provision*@sale.sum %>
</p>


<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
