<%= form_for(@addition) do |f| %>
  <% if @addition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@addition.errors.count, "error") %> prohibited this addition from being saved:</h2>

      <ul>
      <% @addition.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :sum %><br />
    <%= f.text_field :sum %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
	Project assignment (employment): <br />
    <%= collection_select(:addition, :employment_id, Employment.all, :id, :print_employment) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
