<h1>Listing additions</h1>

<table>
  <tr>
	<th>Date</th>
	<th>Employee</th>
    <th>Title</th>
    <th>Sum</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @additions.each do |addition| %>
  <tr>
	<td><%= addition.date %></td>
	<td><%= addition.employee.print_name %></td>
    <td><%= addition.title %></td>
    <td><%= number_to_currency(addition.sum, :locale => :fi) %></td>
    <td><%= link_to 'Show', addition %></td>
    <td><%= link_to 'Edit', edit_addition_path(addition) %></td>
    <td><%= link_to 'Destroy', addition, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Addition', new_addition_path %>
